certifi==2020.12.5
chardet==4.0.0
greenlet==1.0.0
gunicorn==20.1.0
idna==2.10
Jinja2==2.11.3
MarkupSafe==1.1.1
psycopg2==2.8.6
python-env==1.0.0
redis==3.5.3
repoze.lru==0.7
requests==2.25.1
Routes==2.5.1
six==1.16.0
SQLAlchemy==1.4.13
urllib3==1.26.4
Werkzeug==1.0.1
